#login-box {
	margin: auto;
	height: 80vh;
	width: 50vw;
	margin-top: 10vh;
	background-color: lightblue;

	display: grid;
	grid-template-columns: 20% 30% 30% 20%;
	grid-template-rows: 5% 15% 20% 20% 20% 15% 5% ;
	grid-template-areas:
			". . . ."
			". title title ."
			". title title ."
			". username username ."
			". password password ."
			". login register ."
			". . . ."
}

#title {
	grid-area: title;
	background-color: beige;
}

#username {
	grid-area: username;
}

#password {
	grid-area: password;
}

.mui-btn--primary {
	grid-area: login;
}

.mui-btn--accent {
	grid-area: register;
}